.containerForm {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(30deg, grey, rgb(213, 238, 130));
  width: 70%;
  padding: 5px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
}
.form-label {
  width: 70%;
  margin: 0 auto;
  display: flex;
  font-size: 25px;
}

.form-control {
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

h2,
h3 {
  text-align: center;
  margin-top: -25px;
  position: relative;
}

h3 {
  margin-top: -5px;
}

.containerGenero {
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}
.form-check {
  margin-right: 15px;
}

.containerButton {
  display: flex;
  margin: 10px auto;
}

.btn {
  width: 150px;
  padding: 5px;
}
